
.charts-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.chart-box {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.chart-box canvas {
  width: 100% !important;
  height: 300px !important;
}

.chart-box {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* MAIN LAYOUT */
.layout {
  display: flex;
  height: 100vh;
  background: #f8f8f8;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #1c1c1c;
  color: white;
  padding: 20px;
}

.logo {
  font-size: 24px;
  margin-bottom: 30px;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 12px 10px;
  margin: 8px 0;
  background: #333;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.menu li:hover {
  background: #444;
}

/* MAIN CONTENT */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* NAVBAR */
.navbar {
  height: 60px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile {
  font-size: 25px;
}

.logout-btn {
  background: #d9534f;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.logout-btn:hover {
  background: #c9302c;
}

/* CONTENT */
.content {
  padding: 20px;
  overflow-y: auto;
}

/* CARDS */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

/* SECTION BOXES */
.section-box {
  margin-top: 25px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {
  .sidebar {
    display: none; 
  }

  .navbar {
    justify-content: space-between;
  }
}
